//font
body
  font-family Montserrat

.blur
  filter: blur(1.6px)

// Components
@import "components/_animation.styl"
@import "components/_preloader.styl"
@import "components/_form.styl"
@import "components/_bunner.styl"
@import "components/_auth.styl"
@import "components/_message.styl"
